<a href="https://colab.research.google.com/github/spmian/Artificial-Intelligence-Project/blob/main/02_Preprocesado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Importar librerias**

In [115]:
# Importar librerias requeridad
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import FunctionTransformer

In [116]:
# Gr√°ficos
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns
import statsmodels.api as sm
%matplotlib inline 
sns.set(color_codes=True)

# **2. Cargar Base de Datos**

In [117]:
df = pd.read_csv("train.csv", index_col="id")
df.head(5)

,title,city,postalCode,latitude,longitude,areaSqm,firstSeenAt,lastSeenAt,isRoomActive,rawAvailability,...,living,pets,smokingInside,matchAge,matchGender,matchCapacity,matchLanguages,matchStatus,coverImageUrl,rent
id,,,,,,,,,,,,,,,,,,,,,
0,West-Varkenoordseweg,Rotterdam,3074HN,51.896601,4.514993,14,2019-07-14 11:25:46.511000+00:00,2019-07-26 22:18:23.142000+00:00,True,26-06-'19 - Indefinite period,...,None,No,No,16 years - 99 years,Not important,1 person,Not important,Not important,https://resources.kamernet.nl/image/913b4b03-5...,500
3,Ruiterakker,Assen,9407BG,53.013494,6.561012,16,2019-07-14 11:25:46.988000+00:00,2019-07-18 22:00:31.174000+00:00,False,16-06-'19 - Indefinite period,...,None,No,Yes,18 years - 32 years,Female,1 person,Not important,"Student, Working student",https://resources.kamernet.nl/image/84e95365-6...,290
8,Brusselseweg,Maastricht,6217GX,50.860841,5.671673,16,2019-07-14 11:25:47.814000+00:00,2019-08-10 00:14:27.130000+00:00,True,15-07-'19 - Indefinite period,...,None,No,No,16 years - 40 years,Male,4 persons,Dutch English,Student,https://resources.kamernet.nl/image/6e625591-d...,425
10,Donkerslootstraat,Rotterdam,3074WL,51.893195,4.516478,25,2019-07-14 11:25:48.140000+00:00,2019-07-16 06:05:32.183000+00:00,False,01-08-'19 - Indefinite period,...,None,No,No,21 years - 99 years,Not important,4 persons,Dutch English Spanish French Italian German Po...,"Student, Working student, Working, Looking for...",https://resources.kamernet.nl/image/ea3aea77-0...,600
12,Vorselenburgstraat,Alphen aan den Rijn,2405XJ,52.122335,4.661434,10,2019-07-14 11:25:48.465000+00:00,2019-08-01 00:02:40.516000+00:00,True,08-07-'19 - Indefinite period,...,None,No,Yes,22 years - 40 years,Not important,1 person,Dutch English,"Student, Working student, Working",https://resources.kamernet.nl/image/d0780298-b...,425

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27915 entries, 0 to 46721
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     27915 non-null  object
 1   city                      27915 non-null  object
 2   postalCode                27915 non-null  object
 3   latitude                  27915 non-null  float64
 4   longitude                 27915 non-null  float64
 5   areaSqm                   27915 non-null  int64
 6   firstSeenAt               27915 non-null  object
 7   lastSeenAt                27915 non-null  object
 8   isRoomActive              27852 non-null  object
 9   rawAvailability           27915 non-null  object
 10  postedAgo                 27909 non-null  object
 11  descriptionNonTranslated  27804 non-null  object
 12  descriptionTranslated     17775 non-null  object
 13  rentDetail                20019 non-null  object
 14  propertyType              27915 non-null  object
 15  furnish                   27701 non-null  object
 16  energyLabel               27852 non-null  object
 17  gender                    27379 non-null  object
 18  internet                  27852 non-null  object
 19  roommates                 27379 non-null  object
 20  shower                    27852 non-null  object
 21  toilet                    27852 non-null  object
 22  kitchen                   27852 non-null  object
 23  living                    27852 non-null  object
 24  pets                      27852 non-null  object
 25  smokingInside             27852 non-null  object
 26  matchAge                  27852 non-null  object
 27  matchGender               27852 non-null  object
 28  matchCapacity             27852 non-null  object
 29  matchLanguages            27852 non-null  object
 30  matchStatus               27852 non-null  object
 31  coverImageUrl             27915 non-null  object
 32  rent                      27915 non-null  int64
dtypes: float64(2), int64(2), object(29)
memory usage: 7.2+ MB

In [119]:
# Comprobaci√≥n del tipo de datos
df.dtypes

title                        object
city                         object
postalCode                   object
latitude                    float64
longitude                   float64
areaSqm                       int64
firstSeenAt                  object
lastSeenAt                   object
isRoomActive                 object
rawAvailability              object
postedAgo                    object
descriptionNonTranslated     object
descriptionTranslated        object
rentDetail                   object
propertyType                 object
furnish                      object
energyLabel                  object
gender                       object
internet                     object
roommates                    object
shower                       object
toilet                       object
kitchen                      object
living                       object
pets                         object
smokingInside                object
matchAge                     object
matchGender                  object
matchCapacity                object
matchLanguages               object
matchStatus                  object
coverImageUrl                object
rent                          int64
dtype: object

In [120]:
# An√°lisis Descriptivo
df.describe()

           latitude     longitude       areaSqm          rent
count  27915.000000  27915.000000  27915.000000  27915.000000
mean      52.202204      5.313306     31.667240    669.505212
std        0.516437      0.798895     29.727405    416.156758
min       50.770041      3.546485      6.000000      1.000000
25%       51.925678      4.706450     14.000000    395.000000
50%       52.163189      5.082886     20.000000    550.000000
75%       52.370862      5.892056     40.000000    800.000000
max       53.434608      7.206637    600.000000   5999.000000

In [121]:
# N√∫mero de datos ausentes por variable
df.isna().sum().sort_values()

title                           0
coverImageUrl                   0
propertyType                    0
rawAvailability                 0
lastSeenAt                      0
firstSeenAt                     0
rent                            0
longitude                       0
latitude                        0
postalCode                      0
city                            0
areaSqm                         0
postedAgo                       6
matchStatus                    63
matchLanguages                 63
matchCapacity                  63
matchGender                    63
matchAge                       63
smokingInside                  63
pets                           63
living                         63
kitchen                        63
energyLabel                    63
shower                         63
internet                       63
isRoomActive                   63
toilet                         63
descriptionNonTranslated      111
furnish                       214
gender                        536
roommates                     536
rentDetail                   7896
descriptionTranslated       10140
dtype: int64

# **3. Tratamiento de los datos:**

# Eliminaci√≥n de los datos nulos o faltantes en la variable respuesta

In [122]:
rent_zero = list(df[df.rent == 0].index) 
df.drop(rent_zero, axis = 0, inplace = True) 
print('Nuevo tama√±o de los datos: ',df.shape)

Nuevo tama√±o de los datos:  (27915, 33)

# Eliminaci√≥n de las columnas con muchos datos faltantes

Del an√°lisis exploratorio de las variables, se encontr√≥ que existen variables que contienen gran cantidad de datos faltantes. En este caso se optar√° por eliminar las columnas en las que los datos faltantes representen el 80% o m√°s de la totalidad de los datos. Siguiendo este criterio se eliminan las variables "rentDetail", "descriptionTranslated ".

In [123]:
criterio = len(df) * 0.8
df.dropna(axis=1, thresh = criterio, inplace = True) 
print('New Shape of Train Data:',df.shape)

New Shape of Train Data: (27915, 31)

# Transformaci√≥n de las variables categoricas

La variable categorica, como lo son en este caso "roommate"  puede ser util a la hora de realizar el an√°lisis, sin embargo, no pueden usadas en la forma categorica, por lo que se deben convertir en variable numerica  que si podamos utilzar para entrenar un modelo.

In [125]:
var_categoricas = ['roommates']
encoder = preprocessing.LabelEncoder()

for i in var_categoricas:
    
    df[i] = encoder.fit_transform(df[i])
    
print (df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27915 entries, 0 to 46721
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     27915 non-null  object
 1   city                      27915 non-null  object
 2   postalCode                27915 non-null  object
 3   latitude                  27915 non-null  float64
 4   longitude                 27915 non-null  float64
 5   areaSqm                   27915 non-null  int64
 6   firstSeenAt               27915 non-null  object
 7   lastSeenAt                27915 non-null  object
 8   isRoomActive              27852 non-null  object
 9   rawAvailability           27915 non-null  object
 10  postedAgo                 27909 non-null  object
 11  descriptionNonTranslated  27804 non-null  object
 12  propertyType              27915 non-null  object
 13  furnish                   27701 non-null  object
 14  energyLabel               27852 non-null  object
 15  gender                    27379 non-null  object
 16  internet                  27852 non-null  object
 17  roommates                 27915 non-null  int64
 18  shower                    27852 non-null  object
 19  toilet                    27852 non-null  object
 20  kitchen                   27852 non-null  object
 21  living                    27852 non-null  object
 22  pets                      27852 non-null  object
 23  smokingInside             27852 non-null  object
 24  matchAge                  27852 non-null  object
 25  matchGender               27852 non-null  object
 26  matchCapacity             27852 non-null  object
 27  matchLanguages            27852 non-null  object
 28  matchStatus               27852 non-null  object
 29  coverImageUrl             27915 non-null  object
 30  rent                      27915 non-null  int64
dtypes: float64(2), int64(3), object(26)
memory usage: 6.8+ MB
None

#Relleno de datos faltantes

Como anteriormente la variable "roommates" era categorica y se transformo en una variable n√∫merica, sigue teniendo muchas datos faltantes, los valores faltantes seran reemplazarlos por la media de los datos de esa variable

In [127]:
df['roommates'].fillna(df.roommates.median(), inplace=True)

In [128]:
df.isnull().sum()

title                         0
city                          0
postalCode                    0
latitude                      0
longitude                     0
areaSqm                       0
firstSeenAt                   0
lastSeenAt                    0
isRoomActive                 63
rawAvailability               0
postedAgo                     6
descriptionNonTranslated    111
propertyType                  0
furnish                     214
energyLabel                  63
gender                      536
internet                     63
roommates                     0
shower                       63
toilet                       63
kitchen                      63
living                       63
pets                         63
smokingInside                63
matchAge                     63
matchGender                  63
matchCapacity                63
matchLanguages               63
matchStatus                  63
coverImageUrl                 0
rent                          0
dtype: int64

Para las variables categoricas a las cuales se hacen falta datos, se les asignar√° el valor mas frecuente de la variable a los datos faltantes.

In [130]:
#variables_con_faltantes = ['isRoomActive','postedAgo ','descriptionNonTranslated','furnish','energyLabel ','gender ','internet ','shower','toilet']
V_categoricas = [i for i in df if not i in df._get_numeric_data()]
print (V_categoricas)

['title', 'city', 'postalCode', 'firstSeenAt', 'lastSeenAt', 'isRoomActive', 'rawAvailability', 'postedAgo', 'descriptionNonTranslated', 'propertyType', 'furnish', 'energyLabel', 'gender', 'internet', 'shower', 'toilet', 'kitchen', 'living', 'pets', 'smokingInside', 'matchAge', 'matchGender', 'matchCapacity', 'matchLanguages', 'matchStatus', 'coverImageUrl']

In [131]:
imputer = SimpleImputer(strategy='most_frequent')
df[V_categoricas] = imputer.fit_transform(df[V_categoricas])

In [132]:
df.isnull().sum()

title                       0
city                        0
postalCode                  0
latitude                    0
longitude                   0
areaSqm                     0
firstSeenAt                 0
lastSeenAt                  0
isRoomActive                0
rawAvailability             0
postedAgo                   0
descriptionNonTranslated    0
propertyType                0
furnish                     0
energyLabel                 0
gender                      0
internet                    0
roommates                   0
shower                      0
toilet                      0
kitchen                     0
living                      0
pets                        0
smokingInside               0
matchAge                    0
matchGender                 0
matchCapacity               0
matchLanguages              0
matchStatus                 0
coverImageUrl               0
rent                        0
dtype: int64

In [133]:
df.head()

,title,city,postalCode,latitude,longitude,areaSqm,firstSeenAt,lastSeenAt,isRoomActive,rawAvailability,...,living,pets,smokingInside,matchAge,matchGender,matchCapacity,matchLanguages,matchStatus,coverImageUrl,rent
id,,,,,,,,,,,,,,,,,,,,,
0,West-Varkenoordseweg,Rotterdam,3074HN,51.896601,4.514993,14,2019-07-14 11:25:46.511000+00:00,2019-07-26 22:18:23.142000+00:00,True,26-06-'19 - Indefinite period,...,None,No,No,16 years - 99 years,Not important,1 person,Not important,Not important,https://resources.kamernet.nl/image/913b4b03-5...,500
3,Ruiterakker,Assen,9407BG,53.013494,6.561012,16,2019-07-14 11:25:46.988000+00:00,2019-07-18 22:00:31.174000+00:00,False,16-06-'19 - Indefinite period,...,None,No,Yes,18 years - 32 years,Female,1 person,Not important,"Student, Working student",https://resources.kamernet.nl/image/84e95365-6...,290
8,Brusselseweg,Maastricht,6217GX,50.860841,5.671673,16,2019-07-14 11:25:47.814000+00:00,2019-08-10 00:14:27.130000+00:00,True,15-07-'19 - Indefinite period,...,None,No,No,16 years - 40 years,Male,4 persons,Dutch English,Student,https://resources.kamernet.nl/image/6e625591-d...,425
10,Donkerslootstraat,Rotterdam,3074WL,51.893195,4.516478,25,2019-07-14 11:25:48.140000+00:00,2019-07-16 06:05:32.183000+00:00,False,01-08-'19 - Indefinite period,...,None,No,No,21 years - 99 years,Not important,4 persons,Dutch English Spanish French Italian German Po...,"Student, Working student, Working, Looking for...",https://resources.kamernet.nl/image/ea3aea77-0...,600
12,Vorselenburgstraat,Alphen aan den Rijn,2405XJ,52.122335,4.661434,10,2019-07-14 11:25:48.465000+00:00,2019-08-01 00:02:40.516000+00:00,True,08-07-'19 - Indefinite period,...,None,No,Yes,22 years - 40 years,Not important,1 person,Dutch English,"Student, Working student, Working",https://resources.kamernet.nl/image/d0780298-b...,425